/*页面底色*/
/*后台管理系统界面数据*/
/*导航栏的高度*/
/*侧边栏的圆*/
@media (max-width: 999px) {
  html {
    font-size: 10px;
  }
}
@media (min-width: 1000px) and (max-width: 1400px) {
  html {
    font-size: 14px;
  }
}
@media (min-width: 1600px) {
  html {
    font-size: 18px;
  }
}
@media (min-width: 1900px) {
  html {
    font-size: 20px;
  }
}
@font-face {
  font-family: "segoeui";
  src: url('../font/SegoeWP-Light.ttf');
}
@font-face {
  font-family: "segoe";
  src: url("../font/segoeuisl.ttf");
}
